<!DOCTYPE html>
<html>
<head>
  <title>Glasses Shopping Portal Home</title>
  <link rel='stylesheet' href='/stylesheets/common.css' />
  <link rel='stylesheet' href='/stylesheets/search.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</head>
<body>
  <!-- Header Section -->
  <%- include('header') %>
  
  <!-- Main Section -->
  <section class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">
            <form method="post" action="/admin/remove-user" style="width: 23rem;">
                <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Remove User</h3>
                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="text" id="userRemove" name="userRemove" class="form-control form-control-lg" />
                  <label class="form-label" for="userRemove">User Email</label>
                </div>
  
                <div class="pt-1 mb-4">
                  <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-lg btn-block" >Remove User</button>
                </div>
              </form>
            
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
            <form method="post" action="/admin/remove-item" style="width: 23rem;">
              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Remove Item</h3>
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="text" id="itemRemove" name="itemRemove" class="form-control form-control-lg" />
                <label class="form-label" for="itemRemove">Item Name</label>
              </div>

              <div class="pt-1 mb-4">
                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-lg btn-block" >Remove Item</button>
              </div>
            </form>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-black">
            <form method="post" action="/admin/add-user" style="width: 23rem;">
                <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Add User</h3>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="userNameFirst" name="userNameFirst" class="form-control form-control-lg" />
                    <label class="form-label" for="userNameFirst">User First Name</label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="userNameLast" name="userNameLast" class="form-control form-control-lg" />
                    <label class="form-label" for="userNameLast">User Last Name</label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="userCompany" name="userCompany" class="form-control form-control-lg" />
                    <label class="form-label" for="userCompany">User Company</label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="userSecurityQuestion" name="userSecurityQuestion" class="form-control form-control-lg" />
                    <label class="form-label" for="userSecurityQuestion">User Security Question</label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="userSecurityAnswer" name="userSecurityAnswer" class="form-control form-control-lg" />
                    <label class="form-label" for="userSecurityAnswer">User Security Answer</label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="text" id="userEmail" name="userEmail" class="form-control form-control-lg" />
                  <label class="form-label" for="userEmail">User Email</label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="userPassword" name="userPassword" class="form-control form-control-lg" />
                    <label class="form-label" for="userPassword">User Password</label>
                  </div>
  
                <div class="pt-1 mb-4">
                  <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-lg btn-block" >Add User</button>
                </div>
              </form>
            
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
            <form method="post" action="/admin/add-item" style="width: 23rem;">
                <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Add Item</h3>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="itemName" name="itemName" class="form-control form-control-lg" />
                    <label class="form-label" for="itemName">Item Name</label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="itemGender" name="itemGender" class="form-control form-control-lg" />
                    <label class="form-label" for="itemGender">Item Gender</label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="itemMaterial" name="itemMaterial" class="form-control form-control-lg" />
                    <label class="form-label" for="itemMaterial">Item Material</label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="itemFrame" name="itemFrame" class="form-control form-control-lg" />
                    <label class="form-label" for="itemFrame">Item Frame</label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="itemType" name="itemType" class="form-control form-control-lg" />
                    <label class="form-label" for="itemType">Item Type</label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="text" id="itemSize" name="itemSize" class="form-control form-control-lg" />
                  <label class="form-label" for="itemSize">Item Size</label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="itemCompany" name="itemCompany" class="form-control form-control-lg" />
                    <label class="form-label" for="itemCompany">Item Company</label>
                </div>

                <input type="file" name="image" class="form-control" accept=".jpg,.png">
  
                <div class="pt-1 mb-4">
                  <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-lg btn-block" >Add item</button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer Section -->
  <%- include('footer') %>

    <!-- Sidebar Modal -->
    <%- include('sidebar') %>

</body>
</html>
