<!DOCTYPE html>
<html>
<head>
  <title>Glasses Shopping Portal Home</title>
  <link rel='stylesheet' href='/stylesheets/common.css' />
  <link rel='stylesheet' href='/stylesheets/checkout.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</head>
<body>

  <!-- Header Section -->
  <header class="header">
    <img src="/images/filter.png" class="header_icon" data-toggle="modal" data-target="#sidebar-modal">
    <a href="/">
      <img src="/images/logo_temp.png" class="header_icon logo">
    </a>
    <form class="search-form" action="/search" method="GET">
      <input type="text" class="search_bar" name="q" placeholder="Search" required>
      <button type="submit" class="search-btn">Search</button>
    </form>
    <a href="/profile">
      <img src="/images/profile.jpg" class="header_icon">
    </a>
    <a href="/cart">
      <img src="/images/cart.jpg" class="header_icon">
    </a>
  </header>

  <!-- Main Section -->
  <div class="row">

    <!-- Addressing and Shipping Information -->
    <div class="col-md-8 mb-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">Shipping details</h5>
        </div>
        <div class="card-body">
          <form>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <div data-mdb-input-init class="form-outline">
                  <input type="text" id="form7Example1" class="form-control" />
                  <label class="form-label" for="form7Example1">First name*</label>
                </div>
              </div>
              <div class="col">
                <div data-mdb-input-init class="form-outline">
                  <input type="text" id="form7Example2" class="form-control" />
                  <label class="form-label" for="form7Example2">Last name*</label>
                </div>
              </div>
            </div>
            <!-- Text input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="text" id="form7Example3" class="form-control" />
              <label class="form-label" for="form7Example3">Company name</label>
            </div>
            <!-- Text input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="text" id="form7Example4" class="form-control" />
              <label class="form-label" for="form7Example4">Address*</label>
            </div>
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" id="form7Example5" class="form-control" />
              <label class="form-label" for="form7Example5">Email*</label>
            </div>
            <!-- Number input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="number" id="form7Example6" class="form-control" />
              <label class="form-label" for="form7Example6">Phone</label>
            </div>
            <!-- Message input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <textarea class="form-control" id="form7Example7" rows="4"></textarea>
              <label class="form-label" for="form7Example7">Additional information</label>
            </div>
        </div>
        <!-- Shipping Selection -->
        <div class="shipping-selection mb-4" style="padding-left: 20px;">
          <p>Please Select:*</p>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="shippingOption" id="standardShipping" value="standard" />
            <label class="form-check-label" for="standardShipping">Standard (5 days - $5.00)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="shippingOption" id="expeditedShipping" value="expedited" />
            <label class="form-check-label" for="expeditedShipping">Expedited (2 days - $10.00)</label>
          </div>
        </div>
      </form>
      </div>
      <!-- Address & Shipping Validation Button -->
      <div data-mdb-input-init class="form-outline mb-4" style="padding-left: 20px;">
        <button type="button" id="validateAddressBtn" class="btn btn-warning btn-block">Validate Address and Shipping</button>
        <p id="validationMessage" class="text-danger mt-2" style="display: none;">Please fill out all required fields.</p>
      </div>
      <!-- Delivery Information Section -->
      <form method="post" action="/checkout/order" id="deliveryDateForm">
        <div id="deliveryInformationSection" class="delivery-information text-center" style="font-size: 24px; display: none;">
          <p id="deliveryPrice">Delivery Price: </p>
          <p id="estimatedDeliveryDate">Estimated Delivery Date: </p>
          <p id="deliveryMethod">Delivery Method: </p>
          <button type="submit" class="btn btn-primary btn-lg btn-block" style="padding-right: 20px; text-align: center; text-decoration: none; display: block;">Proceed to Payment</button>
        </div>
      </form>
      

    </div>
  
    <!-- Order Totals and Payment Button-->
    <div class="col-md-4 mb-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">Summary</h5>
        </div>
        <div class="card-body">
          <% let Subtotal = 0 %>
          <% Object.keys(cart).forEach(productName => { %>
            <% const quantity = cart[productName] %>
            <% const pricePerUnit = price[productName] %>
            <% Subtotal += (pricePerUnit * quantity) %>
          <% }); %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
              Subtotal
              <span id="subtotal"><%= Subtotal.toFixed(2) %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
              Taxes
              <span id="taxes">An Arm and a Leg</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
              Shipping
              <span id="shippingSummary">Gratis</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
              <div>
                <strong>Total amount</strong>
                <strong>
                  <p class="mb-0">(including VAT)</p>
                </strong>
              </div>
              <span id="fullTotal"><strong></strong></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Section -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="/returns" class="footer-link">Returns</a>
          <a href="/faq" class="footer-link">FAQ</a>
        </div>
        <div class="col-md-6">
          <a href="/shipping" class="footer-link">Shipping</a>
          <a href="/contact" class="footer-link">Contact Us</a>
        </div>
      </div>
      <div class="row justify-content-center social-media-row">
        <div class="col-auto">
          <a href="https://facebook.com" class="footer-icon"><img src="/images/facebook-icon.png" alt="Facebook"></a>
        </div>
        <div class="col-auto">
          <a href="https://twitter.com" class="footer-icon"><img src="/images/twitter-icon.png" alt="Twitter"></a>
        </div>
        <div class="col-auto">
          <a href="https://instagram.com" class="footer-icon"><img src="/images/instagram-icon.png" alt="Instagram"></a>
        </div>
        <div class="col-auto">
          <a href="https://tiktok.com" class="footer-icon"><img src="/images/tiktok-icon.png" alt="TikTok"></a>
        </div>
      </div>
    </div>
  </footer>

  <!-- Sidebar Modal -->
  <%- include('sidebar') %>
  
<script src="/javascripts/product.js"></script>
</body>
</html>
