<!DOCTYPE html>
<html>
<head>
  <title>Glasses Shopping Portal Home</title>
  <link rel='stylesheet' href='/stylesheets/common.css'/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</head>
<body>

  <!-- Header Section -->
  <%- include('header') %>

  <!-- Main Content Section -->
  <main class="text-main-content">
    <h1 class="text-title">Frequently Asked Questions</h1>
    <p class="text-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Varius morbi enim nunc faucibus a pellentesque. Blandit cursus risus at ultrices mi tempus. Egestas purus viverra accumsan in nisl nisi. Auctor eu augue ut lectus. Massa tincidunt dui ut ornare lectus. Id faucibus nisl tincidunt eget nullam non nisi est. Cras ornare arcu dui vivamus arcu felis. Pellentesque diam volutpat commodo sed egestas egestas. Risus nec feugiat in fermentum posuere. Maecenas volutpat blandit aliquam etiam erat velit scelerisque in dictum. Fames ac turpis egestas integer eget. Donec pretium vulputate sapien nec. In ante metus dictum at tempor. Ac turpis egestas integer eget aliquet. Mattis aliquam faucibus purus in.
      <br>
      In fermentum et sollicitudin ac orci phasellus egestas tellus rutrum. Sollicitudin nibh sit amet commodo nulla. Integer vitae justo eget magna fermentum iaculis eu non diam. Egestas pretium aenean pharetra magna ac. Ut placerat orci nulla pellentesque dignissim enim sit amet. Magna fringilla urna porttitor rhoncus dolor purus non enim. Odio ut sem nulla pharetra diam sit. Erat imperdiet sed euismod nisi porta lorem mollis aliquam ut. Tincidunt ornare massa eget egestas purus. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Iaculis urna id volutpat lacus laoreet non curabitur gravida. Habitant morbi tristique senectus et netus et malesuada fames. Ullamcorper sit amet risus nullam eget felis eget nunc lobortis. Vel risus commodo viverra maecenas. Et netus et malesuada fames ac turpis egestas sed tempus. Facilisis mauris sit amet massa vitae. Neque laoreet suspendisse interdum consectetur libero id. Porttitor massa id neque aliquam.
    </p>
    <!-- Continue with additional content as needed -->
  </main>

  <!-- Footer Section -->
  <%- include('footer') %>

  <!-- Sidebar Modal -->
  <%- include('sidebar') %>

</body>
</html>
