<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="/returns" class="footer-link">Returns</a>
          <a href="/faq" class="footer-link">FAQ</a>
        </div>
        <div class="col-md-6">
          <a href="/shipping" class="footer-link">Shipping</a>
          <a href="/contact" class="footer-link">Contact Us</a>
        </div>
      </div>
      <div class="row justify-content-center social-media-row">
        <div class="col-auto">
          <a href="https://facebook.com" class="footer-icon"><img src="/images/facebook-icon.png" alt="Facebook"></a>
        </div>
        <div class="col-auto">
          <a href="https://twitter.com" class="footer-icon"><img src="/images/twitter-icon.png" alt="Twitter"></a>
        </div>
        <div class="col-auto">
          <a href="https://instagram.com" class="footer-icon"><img src="/images/instagram-icon.png" alt="Instagram"></a>
        </div>
        <div class="col-auto">
          <a href="https://tiktok.com" class="footer-icon"><img src="/images/tiktok-icon.png" alt="TikTok"></a>
        </div>
      </div>
    </div>
  </footer>