<!DOCTYPE html>
<html>
<head>
  <title>Glasses Shopping Portal Home</title>
  <link rel='stylesheet' href='/stylesheets/common.css' />
  <link rel='stylesheet' href='/stylesheets/login.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</head>
<body>
  <!-- Header Section -->
  <header class="header">
    <img src="/images/filter.png" class="header_icon" data-toggle="modal" data-target="#sidebar-modal">
    <a href="/">
      <img src="/images/logo_temp.png" class="header_icon logo">
    </a>
    <form class="search-form" action="/search" method="GET">
      <input type="text" class="search_bar" name="q" placeholder="Search" required>
      <button type="submit" class="search-btn">Search</button>
    </form>
    <a href="/profile">
      <img src="/images/profile.jpg" class="header_icon">
    </a>
    <a href="/cart">
      <img src="/images/cart.jpg" class="header_icon">
    </a>
  </header>
  
  <!-- Main Section -->
  <section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">
          <div class="px-5 ms-xl-4">
            <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
          </div>
          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
            <form method="post" action="" style="width: 23rem;">
              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="email" name="email" class="form-control form-control-lg" />
                <label class="form-label" for="email">Email address</label>
              </div>
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="password" name="password" class="form-control form-control-lg" />
                <label class="form-label" for="password">Password</label>
              </div>
              <div class="pt-1 mb-4">
                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-lg btn-block" >Login</button>
              </div>
              <p class="small mb-5 pb-lg-2"><a class="text-muted" href="/forgot-password">Forgot password?</a></p>
              <p>Don't have an account? <a href="/register" class="link-info">Register here</a></p>
            </form>
          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="/images/login-image.jpg"
            alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
        </div>
      </div>
    </div>
  </section>

  <!-- Footer Section -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="/returns" class="footer-link">Returns</a>
          <a href="/faq" class="footer-link">FAQ</a>
        </div>
        <div class="col-md-6">
          <a href="/shipping" class="footer-link">Shipping</a>
          <a href="/contact" class="footer-link">Contact Us</a>
        </div>
      </div>
      <div class="row justify-content-center social-media-row">
        <div class="col-auto">
          <a href="https://facebook.com" class="footer-icon"><img src="/images/facebook-icon.png" alt="Facebook"></a>
        </div>
        <div class="col-auto">
          <a href="https://twitter.com" class="footer-icon"><img src="/images/twitter-icon.png" alt="Twitter"></a>
        </div>
        <div class="col-auto">
          <a href="https://instagram.com" class="footer-icon"><img src="/images/instagram-icon.png" alt="Instagram"></a>
        </div>
        <div class="col-auto">
          <a href="https://tiktok.com" class="footer-icon"><img src="/images/tiktok-icon.png" alt="TikTok"></a>
        </div>
      </div>
    </div>
  </footer>

    <!-- Sidebar Modal -->
    <%- include('sidebar') %>

</body>
</html>
