<!DOCTYPE html>
<html>
<head>
  <title>Glasses Shopping Portal Home</title>
  <link rel='stylesheet' href='/stylesheets/common.css'/>
  <link rel='stylesheet' href='/stylesheets/profile.css'/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</head>
<body>

  <!-- Header Section -->
  <%- include('header') %>

  <!-- Main Content Section -->
  <div class="main-content">
    <a href="/edit-profile" class="profile-button" id="edit-profile">
      <button>Edit Profile</button>
    </a>
    <a href="/orders" class="profile-button" id="orders">
      <button>Orders</button>
    </a>
    <input type="hidden" id="userType" value="<%= userType %>">
    <a href="/cart" class="profile-button" id="third-button">
      <button>Cart</button>
    </a>
  </div>

  <!-- Footer Section -->
  <%- include('footer') %>

  <!-- Sidebar Modal -->
  <%- include('sidebar') %>

  <!-- Script to load page based on user type -->
  <script>
  
  var userType = document.getElementById('userType').value;

  var thirdButton = document.getElementById('third-button');
  var thirdButtonText = thirdButton.getElementsByTagName('button')[0];

  thirdButton.classList.add('third-button');

  if (userType) {
    thirdButton.href = '/products';
    thirdButtonText.textContent = 'Products';
  } else {
    thirdButton.href = '/cart';
    thirdButtonText.textContent = 'Cart';
  }
  </script>

</body>
</html>
