<!DOCTYPE html>
<html>
<head>
  <title>Glasses Shopping Portal Home</title>
  <link rel='stylesheet' href='/stylesheets/common.css'/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</head>
<body>

  <!-- Header Section -->
  <%- include('header') %>

  <!-- Main Content Section -->
  <main class="text-main-content">
    <h1 class="text-title">Returns Policies</h1>
    <p class="text-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum nisi quis eleifend quam. Integer vitae justo eget magna fermentum. Urna nunc id cursus metus aliquam. Ut etiam sit amet nisl purus in. Id faucibus nisl tincidunt eget nullam non. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien. Quis lectus nulla at volutpat diam ut venenatis. Tellus in hac habitasse platea dictumst vestibulum rhoncus est. Laoreet sit amet cursus sit amet. Lectus magna fringilla urna porttitor rhoncus. Cum sociis natoque penatibus et magnis dis parturient. Et tortor consequat id porta. Vivamus at augue eget arcu. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius sit. Nam libero justo laoreet sit amet cursus sit amet dictum. Nulla aliquet enim tortor at auctor urna nunc.
      <br><br>
      Dictum varius duis at consectetur lorem. Faucibus turpis in eu mi bibendum neque egestas congue. Odio eu feugiat pretium nibh ipsum consequat nisl vel pretium. Nibh sit amet commodo nulla facilisi nullam vehicula. Tristique et egestas quis ipsum suspendisse ultrices gravida dictum fusce. Eu sem integer vitae justo eget magna fermentum. Tempus urna et pharetra pharetra. Lacus sed viverra tellus in hac. Fermentum dui faucibus in ornare. Vitae tortor condimentum lacinia quis vel eros donec ac odio.
      <br><br>
      Habitasse platea dictumst vestibulum rhoncus est pellentesque. Nulla malesuada pellentesque elit eget gravida cum sociis natoque penatibus. Aliquet sagittis id consectetur purus. Interdum velit euismod in pellentesque massa. In dictum non consectetur a erat nam at lectus urna. Amet dictum sit amet justo donec enim diam vulputate. A scelerisque purus semper eget. Sed elementum tempus egestas sed sed. Ornare suspendisse sed nisi lacus sed viverra tellus in hac. At consectetur lorem donec massa sapien faucibus et molestie ac. Quis commodo odio aenean sed adipiscing diam donec adipiscing. Viverra maecenas accumsan lacus vel facilisis volutpat est velit. Justo laoreet sit amet cursus. Tortor pretium viverra suspendisse potenti nullam ac. Arcu bibendum at varius vel pharetra vel turpis nunc eget. Ac orci phasellus egestas tellus rutrum tellus pellentesque. Vitae elementum curabitur vitae nunc sed velit dignissim sodales. Mi proin sed libero enim sed faucibus turpis. Volutpat blandit aliquam etiam erat velit.
    </p>
    <!-- Continue with additional content as needed -->
  </main>

  <!-- Footer Section -->
  <%- include('footer') %>

  <!-- Sidebar Modal -->
  <%- include('sidebar') %>

</body>
</html>
