<!DOCTYPE html>
<html>
<head>
  <title>Glasses Shopping Portal Home</title>
  <link rel='stylesheet' href='/stylesheets/common.css'/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</head>
<body>

  <!-- Header Section -->
  <%- include('header') %>

  <!-- Main Content Section -->
  <main class="text-main-content">
    <h1 class="text-title">Shipping Information</h1>
    <p class="text-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi leo urna molestie at elementum eu facilisis. Vel turpis nunc eget lorem. Consectetur a erat nam at. Felis imperdiet proin fermentum leo vel orci. Arcu felis bibendum ut tristique et. Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Turpis in eu mi bibendum neque egestas. Faucibus nisl tincidunt eget nullam non nisi est sit amet. Vitae tempus quam pellentesque nec nam aliquam sem et tortor. Sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus. Vulputate mi sit amet mauris commodo quis. Malesuada nunc vel risus commodo viverra maecenas.
      <br>
      Commodo ullamcorper a lacus vestibulum sed arcu non odio euismod. Vitae congue eu consequat ac felis. Lectus vestibulum mattis ullamcorper velit. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus. Odio aenean sed adipiscing diam donec. Tempor orci eu lobortis elementum. In egestas erat imperdiet sed euismod nisi. Enim neque volutpat ac tincidunt vitae semper quis lectus. Euismod in pellentesque massa placerat duis ultricies lacus sed. Lobortis scelerisque fermentum dui faucibus in. Enim eu turpis egestas pretium aenean pharetra magna ac placerat. Maecenas pharetra convallis posuere morbi leo urna molestie. Et magnis dis parturient montes nascetur ridiculus mus.
      <br>
      Non nisi est sit amet facilisis magna. Nulla at volutpat diam ut venenatis tellus in. Aenean et tortor at risus viverra adipiscing. Pulvinar mattis nunc sed blandit libero. Et netus et malesuada fames. Amet aliquam id diam maecenas ultricies mi. Dictumst quisque sagittis purus sit amet volutpat consequat mauris. Egestas pretium aenean pharetra magna ac placerat. Enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Ante in nibh mauris cursus mattis molestie a iaculis. Mauris in aliquam sem fringilla ut morbi tincidunt augue interdum. Et sollicitudin ac orci phasellus egestas tellus. Vitae elementum curabitur vitae nunc. Nam aliquam sem et tortor consequat id porta nibh. Aliquam ultrices sagittis orci a. Nibh tortor id aliquet lectus proin nibh nisl condimentum.
      <br>
      Laoreet suspendisse interdum consectetur libero id faucibus nisl. Elit eget gravida cum sociis natoque penatibus et. Ullamcorper eget nulla facilisi etiam dignissim diam. Ipsum consequat nisl vel pretium. Consectetur purus ut faucibus pulvinar elementum. Nibh nisl condimentum id venenatis. Mauris in aliquam sem fringilla ut morbi tincidunt. Tristique et egestas quis ipsum. Feugiat nisl pretium fusce id velit ut tortor pretium. Sit amet consectetur adipiscing elit. Ut enim blandit volutpat maecenas. Nunc mi ipsum faucibus vitae. Auctor augue mauris augue neque gravida in fermentum et. Tellus orci ac auctor augue. Non diam phasellus vestibulum lorem sed risus ultricies tristique. Feugiat scelerisque varius morbi enim nunc faucibus a. Vitae semper quis lectus nulla at volutpat diam ut venenatis. Quam elementum pulvinar etiam non quam lacus.
      <br>
      Aliquam sem et tortor consequat. Nunc sed blandit libero volutpat sed cras. Turpis massa tincidunt dui ut. Erat velit scelerisque in dictum non consectetur a erat nam. Id venenatis a condimentum vitae sapien pellentesque. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. Neque sodales ut etiam sit amet nisl purus in mollis. Sollicitudin tempor id eu nisl nunc mi ipsum faucibus vitae. Risus nec feugiat in fermentum posuere. Semper risus in hendrerit gravida rutrum quisque non tellus. Volutpat maecenas volutpat blandit aliquam. Id semper risus in hendrerit gravida rutrum quisque non tellus. Auctor neque vitae tempus quam pellentesque nec nam.
      <br>
      Augue neque gravida in fermentum et sollicitudin ac orci. Dui ut ornare lectus sit amet est placerat in egestas. Eget nunc lobortis mattis aliquam faucibus purus. Adipiscing at in tellus integer feugiat scelerisque varius morbi. Porta non pulvinar neque laoreet suspendisse interdum. Est lorem ipsum dolor sit amet consectetur adipiscing. Et tortor consequat id porta nibh venenatis cras sed. Nibh praesent tristique magna sit amet purus gravida quis. Sit amet porttitor eget dolor morbi. Enim nec dui nunc mattis enim ut tellus elementum. Iaculis nunc sed augue lacus viverra. Sed sed risus pretium quam vulputate dignissim. Pretium quam vulputate dignissim suspendisse in est ante in. Sollicitudin nibh sit amet commodo nulla.
      <br>
      Nunc vel risus commodo viverra maecenas accumsan lacus vel facilisis. Sit amet nisl suscipit adipiscing bibendum est. Ac turpis egestas sed tempus urna. Facilisis mauris sit amet massa vitae. Porttitor rhoncus dolor purus non enim praesent elementum facilisis. Quis commodo odio aenean sed adipiscing diam donec adipiscing tristique. Risus feugiat in ante metus dictum. Etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus. Purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus. In tellus integer feugiat scelerisque varius morbi enim nunc faucibus. Vel eros donec ac odio tempor orci. Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis. Habitant morbi tristique senectus et netus. Accumsan lacus vel facilisis volutpat est velit. Eget est lorem ipsum dolor sit amet consectetur adipiscing elit. Semper quis lectus nulla at volutpat diam ut. Porta lorem mollis aliquam ut porttitor leo. Non enim praesent elementum facilisis leo vel fringilla est. Lobortis scelerisque fermentum dui faucibus in.
      <br>
      Risus in hendrerit gravida rutrum quisque non tellus orci. Id diam maecenas ultricies mi eget. Tempor orci eu lobortis elementum nibh tellus molestie nunc non. Mus mauris vitae ultricies leo integer. Amet massa vitae tortor condimentum lacinia. Turpis egestas pretium aenean pharetra magna ac placerat vestibulum. Sagittis vitae et leo duis ut. Ultricies leo integer malesuada nunc vel risus commodo viverra. Diam sollicitudin tempor id eu nisl. Pellentesque nec nam aliquam sem. Mattis rhoncus urna neque viverra. Aliquam faucibus purus in massa tempor. Iaculis at erat pellentesque adipiscing commodo elit at. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Nulla porttitor massa id neque. Dolor sit amet consectetur adipiscing elit duis tristique. In fermentum posuere urna nec tincidunt praesent semper feugiat. Quam id leo in vitae. Viverra justo nec ultrices dui sapien eget mi proin sed. Amet est placerat in egestas.
    </p>
    <!-- Continue with additional content as needed -->
  </main>

  <!-- Footer Section -->
  <%- include('footer') %>

  <!-- Sidebar Modal -->
  <%- include('sidebar') %>

</body>
</html>
