.main-content {
    background-color: #f7f7f7;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-button {
    width: 95%;
    margin: 10px 0;
    border: 2px solid #000;
    border-radius: 20px;
    text-align: center;
    height: 200px;
}
.profile-button button {
    width: 100%;
    padding: 20px 0;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    font-size: 64px;
    font-family: sans-serif;
    color: black;
    height: 100%;
}
#edit-profile button {
    background-color: #4CAF50;
}
#orders button {
    background-color: #2196F3;
}
#cart button {
    background-color: #FFEB3B;
}
.profile-button button:hover {
    filter: brightness(1.1);
}
.profile-button a {
    text-decoration: none;
    display: block;
}
  